engine-strict=true
strict-peer-dependencies=true
auto-install-peers=true

link-workspace-packages=true
prefer-workspace-packages=true
shared-workspace-lockfile=true
save-workspace-protocol=rolling

resolution-mode=highest
save-exact=false
package-manager-strict=true
